// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.title1 {
	color: white;
}

.title2 {
	color: #3498db;
}

a.navbar-brand {
	font-family: 'jaapokkiregular', sans-serif;
	font-size: 26px;
	font-weight: normal;
}

.blog-index footer {
	overflow: auto;
}

.img-bordered {
	border: 1px $thumbnail-border solid;
}
